services:
  backend:
    build: ./backend
    environment:
      - MONGODB_URL=${MONGODB_URL}
    ports:
      - "8000:8000"


  frontend:
    build: ./frontend
    environment:
      - VITE_API_URL=${VITE_API_URL}
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules